.example-spacer {
    flex: 1 1 auto;
  }


  .offlinemsg{
    padding:2rem;
    background-color: rgba(51, 51, 51,.8);
    color: white;
    position: absolute;
    border-radius: 15px;
    margin:1rem;
    right:1rem;
    padding:.6rem;
    font-size: .8rem;
    
  }
 a {
   text-decoration: none;
   color: white;
 }
 
 a:hover,
 a:active {
   color: #f5f5f5;
 }
  
 .navigation-items {
   list-style: none;
   cursor: pointer;
 }
 
 .icon {
   display: inline-block;
   margin: 0 auto;
   padding-right: .6em;
   text-align: center;
   vertical-align: middle;
   width: 15%;
 }
 
 .label {
   display: inline-block;
   margin: 0;
   width: 85%;
   vertical-align: middle;
 }



 .menucontainer {
   width: 15rem;
   margin: 0px;
   height: 100%;
   padding: 1rem;
   padding-top: 1.5rem;
   background-color: white;
   
   span     {
     color: black;
   }

   span:hover {
     font-weight: bolder;
   }

    
   .icon {
     color: black;
     margin-right: 0.9rem;
   }

   a:hover {
     color: black;      
   }
   
 }

 ::ng-deep .mat-drawer-inner-container {
   overflow: hidden!important;
}

.mat-toolbar.mat-primary {
  background: #000000!important;
  color: white;
}

.userinfo {
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.447);
}

