.box {
    background-color: #2b2b2b;
}

.bigicon {
    font-size:5rem;
    padding:2rem;
    color:rgb(72, 74, 76);
} 

.bignum {
    font-size: 2.5rem;
    font-weight: bold;
    color:rgb(72, 74, 76);
    padding-top: 1rem;
}
.mat-padding {
    padding:1rem;
}

.mat-margin {
    margin:1rem;
}

.mat-caption {
    line-height:1.0rem;    
}

.my-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .my-radio-button {
    margin: 5px;
  }