<div *ngIf="!this.token" class="container" fxLayout="row wrap" fxLayoutGap="1rem">
    <div>
        <h1>Nicht autorisiert</h1>
        <h3>Wenden Sie sich bitte an das Zi für Zugangsdaten.</h3>
    </div>
</div>
<div *ngIf="this.token && !this.new_simresult" class="container" fxLayout="row wrap" fxLayoutGap="1rem">
    <div>
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>
<div *ngIf="this.token && this.new_simresult" class="container" fxLayout="row wrap" fxLayoutGap="1rem"
    fxLayoutAllign="space-around">
    <div fxFlex=100>
        <mat-card *ngIf="this.stand_impfungen_data_aktuell_current">
            <mat-card-title>Stand der Impfkampagne
                <span *ngIf="this.current_bl!='Gesamt'"> in {{this.current_bl}}</span>
                <span *ngIf="this.current_bl=='Gesamt'"> in Deutschland</span>
            </mat-card-title>
            <mat-card-subtitle>Datenbasis: Impfungen lt. RKI (tagesaktuell), Lieferungen lt. BMG (wöchentlich aktualisiert), Kapazität lt. GMK</mat-card-subtitle>
            
            <mat-card-content class="mat-padding">
                <div fxLayout="row wrap" fxLayoutGap="2rem"
                    fxLayoutAllign="space-around">
                    <div fxFlex xFlex.lt-md=100>

                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>Bundesland</mat-label>
                            <mat-select [(ngModel)]="this.current_bl"
                                (selectionChange)="this.land_changed=true;this.update_kapazitaet();">
                                <ng-container *ngFor="let land of this.bl_liste">
                                    <mat-option [value]="land">{{land}}</mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex fxFlex.lt-sm=100 class="mat-padding">
                        <p>
                            <span *ngIf="this.stand_impfungen_data_aktuell_current['Zahl der Impfungen gesamt']>=1e6"
                                class="accentcolor bignum">{{this.stand_impfungen_data_aktuell_current['Zahl der Impfungen gesamt']/1e6
                                |
                                number:'1.2-2'}}</span>
                            <span *ngIf="this.stand_impfungen_data_aktuell_current['Zahl der Impfungen gesamt']<1e6"
                                class="accentcolor bignum">{{this.stand_impfungen_data_aktuell_current['Zahl der Impfungen gesamt']/1e3
                                |
                                number:'1.0-0'}}</span>
                            <br>
                            <span *ngIf="this.stand_impfungen_data_aktuell_current['Zahl der Impfungen gesamt']>=1e6">Mio. Dosen
                                verimpft</span>
                            <span *ngIf="this.stand_impfungen_data_aktuell_current['Zahl der Impfungen gesamt']<1e6">Tsd. Dosen
                                verimpft</span>
                        </p>
                    </div>
                    <div fxFlex fxFlex.lt-sm=100 class="mat-padding">
                        <p>
                            <span class="accentcolor bignum">{{this.stand_impfungen_data_aktuell_current['Zahl der Impfungen
                                gesamt']/(this.days_since_start/7)/1e3 |
                                number:'1.0-0'}}</span><br>
                            Tsd. letzte Woche
                        </p>
                    </div>
                    <div fxFlex fxFlex.lt-sm=100 class="mat-padding">
                        <p>
                            <span class="accentcolor bignum">{{this.stand_impfungen_data_aktuell_current['impfungen_letzter_tag'] |
                                number:'1.0-0'}}</span><br>
                            gestern
                        </p>
                    </div>
                    <div fxFlex fxFlex.lt-sm=100 class="mat-padding">
                        <p>
                            <span class="accentcolor bignum">{{this.stand_impfungen_data_aktuell_current['Gesamt 2x']}} %</span><br>
                            Durchimpfung
                        </p>
                    </div>
                </div>
            </mat-card-content>

        </mat-card>

    </div>
    <div fxFlex fxFlex.lt-md=100>
        <mat-card>
            <mat-card-title>Kapazität</mat-card-title>
            <mat-card-subtitle>Gemeldete Impfkapazität</mat-card-subtitle>
            <mat-card-content>
                <div *ngIf="this.stand_impfungen_data_aktuell_current" fxLayout="column">
                    <div fxFlex=100 fxLayout="column wrap" fxLayoutGap="0rem">
                        <div fxLayout="row wrap" fxLayoutGap="2rem">
                            <div fxFlex fxFlex.lt-md=100>
                                <div class="mat-padding">
                                    <p>
                                        <span class="accentcolor bignum">{{this.params.kapazitaet_pro_tag |
                                            number:'1.0-0'}}</span><br>
                                        Dosen pro Tag
                                    </p>
                                </div>
                            </div>
                            <div fxFlex fxFlex.lt-md=100>
                                <div class="mat-padding">
                                    <p>
                                        <span class="accentcolor bignum">
                                            {{100*this.stand_impfungen_data_aktuell_current['impfungen_letzter_tag'] / this.params.kapazitaet_pro_tag |
                                            number:'1.0-0'}} %</span><br>
                                        aktuelle Ausschöpfung
                                    </p>
                                </div>
                            </div>
                            <div class="mat-padding" fxFlex=30 fxFlex.lt-md=100>
                                <div>
                                    <p>
                                        <span class="accentcolor bignum">{{this.params.kapazitaet_pro_woche |
                                            number:'1.0-0'}}</span><br>
                                        Dosen pro Woche
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div fxFlex=100 fxLayout="row wrap" fxLayoutGap=".1rem" fxLayoutAllign="space-around">
                        <div fxLayout="row wrap" fxFlex=100>
                            <div fxFlex=100>
                                <h2><strong>Parameter</strong><br>
                                </h2>
                            </div>
                            <div fxFlex=25 fxFlex.lt-md=100 class="mat-padding">
                                <mat-chip-list>
                                    <mat-chip color="accent" (click)="this.mode='simple'"
                                        [selected]="this.mode=='simple'">Einfach</mat-chip>
                                    <mat-chip color="accent" (click)="this.mode='detail'"
                                        [selected]="this.mode!='simple'">Detailliert</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div class="mat-padding">
                                <div>
                                    <p>
                                        <mat-slide-toggle [(ngModel)]="this.simple_aerzte_impfen"
                                            (change)="this.change_simple()" [disabled]="this.mode=='detail'"
                                            [ngModel]="this.simple_aerzte_impfen">
                                            Praxen impfen
                                        </mat-slide-toggle>
                                    </p>
                                </div>
                            </div>
                            <div class="mat-padding">
                                <div>
                                    <p>
                                        <mat-slide-toggle [(ngModel)]="this.simple_alle_zulassen"
                                            (change)="this.change_simple()" [disabled]="this.mode=='detail'">
                                            Alle Impfstoffe werden zugelassen
                                        </mat-slide-toggle>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="background-color:rgba(211, 211, 211, 0.084);padding:2rem;margin:1rem;border-radius:10px;"
                        *ngIf="this.mode=='detail'" fxFlex=100 fxLayout="row wrap" fxLayoutGap="2rem"
                        fxLayoutAllign="space-around">
                        <div fxFlex=100>
                            <br>
                            <h2><strong>Detaileinstellungen</strong><br>
                            </h2>
                        </div>
                        <div fxFlex fxFlex.lt-md=100>
                            <h3>
                                <strong>Impfzentren</strong><br>
                                <span fxHide.lt-md="true">
                                    <mat-icon class="accentcolor bigicon" [inline]="true">corporate_fare</mat-icon>
                                </span>
                            </h3>
                            <p>Anzahl:<span fxHide.lt-md="true"><br></span>
                                <mat-slider [(ngModel)]="this.params.n_impfzentren" min="0" [max]="500" [step]="1"
                                    (change)="this.update_kapazitaet();"></mat-slider>
                                <strong>{{this.params.n_impfzentren | number: '1.0-0'}}</strong>
                                <br>Patienten pro Tag:<span fxHide.lt-md="true"><br></span>
                                <mat-slider [(ngModel)]="this.params.n_impfzentren_pat" min="100" max="1500" step="10"
                                    (change)="this.update_kapazitaet();"></mat-slider>
                                <strong>{{this.params.n_impfzentren_pat}}</strong>
                                <br>Arbeitstage pro Woche:<span fxHide.lt-md="true"><br></span>
                                <mat-slider [(ngModel)]="this.params.impfzentren_tage" min="0" max="7" step="1"
                                    (change)="this.update_kapazitaet();"></mat-slider>
                                <strong>{{this.params.impfzentren_tage}}</strong>
                            </p>
                        </div>
                        <div fxFlex=31 fxFlex.lt-md=100>
                            <h3>
                                <strong>Praxen</strong><br>
                                <span fxHide.lt-md="true">
                                    <mat-icon class="accentcolor bigicon" [inline]="true">local_hospital</mat-icon>
                                </span>
                            </h3>
                            <p>Anzahl:<span fxHide.lt-md="true"><br></span>
                                <mat-slider [(ngModel)]="this.params.n_varzt" min="0"
                                    [max]="50000*(this.bev_anteil_land/100)" [step]="1000*(this.bev_anteil_land/100)"
                                    (change)="this.update_kapazitaet();"></mat-slider>
                                <strong>{{this.params.n_varzt | number: '1.0-0'}}</strong>
                                <br>Patienten pro Tag:<span fxHide.lt-md="true"><br></span>
                                <mat-slider [(ngModel)]="this.params.n_varzt_pat" min="0" max="100" step="5"
                                    (change)="this.update_kapazitaet();"></mat-slider>
                                <strong>{{this.params.n_varzt_pat}}</strong>
                                <br>Impftage pro Woche:<span fxHide.lt-md="true"><br></span>
                                <mat-slider [(ngModel)]="this.params.varzt_tage" min="0" max="7" step="1"
                                    (change)="this.update_kapazitaet();"></mat-slider>
                                <strong>{{this.params.varzt_tage}}</strong>
                            </p>
                        </div>

                        <div fxFlex=31 fxFlex.lt-md=100 fxLayout="column wrap" fxLayoutGap=".1rem"
                            fxLayoutAllign="space-around">
                            <div>
                                <h3><strong>Impfstoff Lieferungen</strong><br>
                                    <span fxHide.lt-md="true">
                                        <mat-icon class="accentcolor bigicon" [inline]="true">healing</mat-icon>
                                    </span>
                                </h3>
                            </div>
                            <div>
                                <p>Liefermenge:<span fxHide.lt-md="true"><br></span>
                                    <mat-slider [(ngModel)]="this.params.liefermenge" min=".8" max="1.2" step="0.01"
                                        (change)="this.update_kapazitaet();"></mat-slider>
                                    <strong>{{this.params.liefermenge*100 | number:'1.0-0'}} %</strong>
                                </p>
                            </div>
                            <div>
                                <p>Rückstellungen für Zweitimpfungen<span fxHide.lt-md="true"><br></span>
                                    <mat-slide-toggle [(ngModel)]="this.params.ruecklage"
                                    (change)="this.update_kapazitaet();">                                    
                                    <span *ngIf="this.params.ruecklage">Ja</span>
                                    <span *ngIf="!this.params.ruecklage">Nein</span>
                                </mat-slide-toggle>
                                </p>
                            </div>
                            <div>
                                <p>Abstand Erst- zu Zweitimpfung:<span fxHide.lt-md="true"><br></span>
                                    <mat-slider [(ngModel)]="this.params.addweekstoabstand" min="0" max="12" step="1"
                                        (change)="this.update_kapazitaet();"></mat-slider>
                                    <span *ngIf="this.params.addweekstoabstand==0"> laut Herstellerangabe</span>
                                    <span *ngIf="this.params.addweekstoabstand>0"><strong>{{this.params.addweekstoabstand}} Wochen länger</strong></span>
                                </p>
                            </div>
                            <div>
                                <span>Art der Impfstoffe:</span>
                                <mat-radio-group class="my-radio-group" [(ngModel)]="this.params.impfstoffart"
                                    (change)="this.update_kapazitaet();">
                                    <mat-radio-button class="my-radio-button" [value]="'alle'">Alle bestellten
                                    </mat-radio-button>
                                    <mat-radio-button class="my-radio-button" [value]="'zugelassen'">Nur zugelassene
                                        Impfstoffe</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div>
                                <span>Verteilung der Lieferungen:</span>
                                <mat-radio-group class="my-radio-group" [(ngModel)]="this.params.verteilungszenario"
                                    (change)="this.update_kapazitaet();">
                                    <ng-container *ngFor="let szenario of this.verteilungszenarien">
                                        <mat-radio-button class="my-radio-button" [value]="szenario">{{szenario}}
                                        </mat-radio-button>
                                    </ng-container>
                                </mat-radio-group>
                            </div>
                            <div>
                                <span>Durchimpfung anzeigen</span><br>
                                <mat-slide-toggle [(ngModel)]="this.showdurchimpfung">                                           
                                        </mat-slide-toggle>
                                        <span *ngIf="this.showdurchimpfung">Ja</span>
                                        <span *ngIf="!this.showdurchimpfung">Nein</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex=100 *ngIf="this.risktimes">
        <mat-card>
            <mat-card-title>Simulation</mat-card-title>
            <div fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAllign="space-between">
                <div *ngIf="this.showdurchimpfung" fxFlex=100 fxFlex.lt-md=100 fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAllign="space-between">
                    <div fxFlex=100>
                        <h2>Durchimpfung</h2>
                    </div>
                    <div *ngFor="let group of this.risktimes" fxFlex.lt-md=100>
                        <p>
                            <span *ngIf="group.Datum!='nie'" class="accentcolor bignum" style="font-size: 2rem;">
                                {{group.Datum | date : 'dd.M.'}} </span>
                            <span *ngIf="group.Datum=='nie'" class="accentcolor bignum" style="font-size: 2rem;">
                                später </span>
                            <span fxHide.lt-md="true"><br></span>
                            <strong>Risikostufe {{group.Stufe}}</strong><br>

                        </p>
                    </div>

                    <div fxFlex=100>
                        <p class="mat-caption lightgreycolor">
                            Die Risikostufen wurden laut STIKO-Empfehlung gebildet.
                        </p>
                    </div>
                </div>
                <div fxFlex=100 fxFlex.lt-md=100>
                    <h2>Gelieferte und verimpfte Dosen</h2>
                    <div>
                        <app-plot [(data)]="this.new_simresult" [custommargins]="{ l: 0, r: 0, b: 25, t: 0 }"
                            xvalue="date" [colorscheme]="['crimson','green']"
                            [outcomes]="['Gelieferte Dosen','Verimpfte Dosen']" plottype="area"></app-plot>
                    </div>
                    <div class="padding lightgreycolor">
                        <p class="mat-caption">
                            Legende:<br>Projektion auf Basis der aktuellen Verträge mit den Herstellern.
                        </p>
                    </div>

                </div>
                <div fxFlex=45 fxFlex.lt-md=100>
                    <h2>Warteschlange Zweitimpfung</h2>
                    <div>
                        <app-plot [(data)]="this.new_simresult" [custommargins]="{ l: 0, r: 0, b: 25, t: 0 }"
                            xvalue="date" [colorscheme]="['navy']" [outcomes]="['Wartschlange Zweitimpfung']" plottype="area">
                        </app-plot>
                    </div>
                    <div class="padding lightgreycolor">
                        <p class="mat-caption">
                            Legende:<br>Projektion auf Basis der aktuellen Verträge mit den Herstellern.
                        </p>
                    </div>

                </div>
                <div fxFlex=45 fxFlex.lt-md=100>
                    <h2>Unverimpfbare Dosen</h2>
                    <div>
                        <app-plot [(data)]="this.new_simresult" [custommargins]="{ l: 0, r: 0, b: 25, t: 0 }"
                            xvalue="date" [colorscheme]="['orange']" [outcomes]="['Unverimpfte Dosen']" plottype="area">
                        </app-plot>
                    </div>
                    <div class="padding lightgreycolor">
                        <p class="mat-caption">
                            Legende:<br>Projektion auf Basis der aktuellen Verträge mit den Herstellern.
                        </p>
                    </div>

                </div>

                <div fxFlex=45 fxFlex.lt-md=100>
                    <h2>Abgeschlossene Immunisierungen</h2>
                    <div>
                        <app-plot [(data)]="this.new_simresult" [custommargins]="{ l: 0, r: 0, b: 25, t: 0 }"
                            xvalue="date" [colorscheme]="['#1976d2']" [outcomes]="['patienten_durchgeimpft']" plottype="area">
                        </app-plot>
                    </div>
                    <div class="padding lightgreycolor">
                        <p class="mat-caption">
                            Legende:<br>Projektion auf Basis der aktuellen Verträge mit den Herstellern.
                        </p>
                    </div>

                </div>

                <div  *ngIf="this.showdurchimpfung" fxFlex=45 fxFlex.lt-md=100>
                    <h2>Modellierte Impfquote in %</h2>
                    <div>
                        <app-plot [(data)]="this.new_simresult" [custommargins]="{ l: 0, r: 0, b: 25, t: 0 }"
                            xvalue="date" [colorscheme]="['#c8e6c9','green']" [outcomes]="['Anteil Erst-Dosis','Anteil Durchimpfung']" plottype="area"></app-plot>
                    </div>
                    <div class="padding lightgreycolor">
                        <p class="mat-caption">
                            Legende:<br>Projektion auf Basis der aktuellen Verträge mit den Herstellern.
                        </p>
                    </div>

                </div>


            </div>

        </mat-card>

    </div>

    <div fxFlex fxFlex.lt-md=100>
        <div style="min-width: 300px;padding:10px;">
            <h2>Hintergrund zu den Modellrechnungen</h2>
            <p>Ausgangspunkte der Modellrechnung sind die im Rahmen des Impfgipfels bereitgestellten Informationen zu
                Liefermengen und zur bundesweiten Kapazität der Impfzentren. Bis zum 21. September 2021 wird von einer
                wöchentlichen Impfstoffverfügbarkeit von 900 Tsd. bis 9,7 Mio. Dosen ausgegangen. Die Kapazität der
                Impfzentren beträgt derzeit 1,4 Mio. Impfungen pro KW (200.000 täglich) und kann sicherlich auf 2,1
                Mio. Impfungen (300.000 täglich) gesteigert werden.</p>
            <p> Weitere Kapazitätssteigerungen scheinen nur durch die
                Einbeziehung der Vertragsärztinnen und Vertragsärzte kurzfristig umsetzbar. Wir gehen davon aus,
                dass im niedergelassenen Bereich ca. 10 Dosen pro Arbeitsstunde verabreicht werden können.
            </p>
            <p>
                Mit dem interaktiven Rechner kann untersucht werden, welche Auswirkungen Veränderungen der
                Impforganisation auf die Zahl der durchführbaren Impfungen und den Zeitpunkt einer möglichen
                Immunisierung der Bevölkerung haben.
            </p>
        </div>
    </div>
</div>