<div class="container" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAllign="space-around">
    <div fxFlex=20 fxFlex.lt-md=100 *ngIf="this.wert">
        <div>
            <mat-card [ngClass]="{
                'green': this.wert['R(t)'].replace(',', '.')<1.0,
                'yellow': this.wert['R(t)'].replace(',', '.')>1.0 && this.wert['R(t)'].replace(',', '.')<1.3,
                'red': this.wert['R(t)'].replace(',', '.')>=1.3 || (this.wert['7-Tage-Inzidenz']>=50 && this.wert['R(t)'].replace(',', '.')>1.0)
            }">
                <h1>{{this.wert["R(t)"]}}</h1>
                <p><span>R-Wert</span> </p>
            </mat-card>
        </div>
        <div>
            <mat-card [ngClass]="{
                'green':  this.wert['7-Tage-Inzidenz']<25,
                'yellow': this.wert['7-Tage-Inzidenz']>=25 && this.wert['7-Tage-Inzidenz']<50,
                'red': this.wert['7-Tage-Inzidenz']>=50
            }">
                <h1>{{this.wert["7-Tage-Inzidenz"]}}</h1>
                <p><span>7-Tage-Inzidenz</span> </p>
            </mat-card>
        </div>
        <div>
            <mat-card [ngClass]="{
                'green':  this.wert['Vorwarnzeit aktuell']>50,
                'yellow': this.wert['Vorwarnzeit aktuell']>21 && this.wert['Vorwarnzeit aktuell']<50,
                'red': this.wert['Vorwarnzeit aktuell']<=21
            }">
                <h1>{{this.wert["Vorwarnzeit aktuell"]}}</h1>
                <p><span>Vorwarnzeit in Tagen</span> </p>
            </mat-card>
        </div>

    </div>
    <div fxFlex fxFlex.lt-md=100>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Tabelle aller Daten nach Bundesland
                </mat-card-title>
                <mat-card-subtitle>
                    Datenbasis: keine
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="this.testtable">

          <app-table [columns]="['Bundesland','7-Tage-Inzidenz','Vorwarnzeit aktuell','R(t)']" 
          [data]="this.testtable"></app-table>
            </mat-card-content>
            <mat-card-footer>
                <div class="padding lightgreycolor">
                    <p class="mat-caption">
                        Legende:<br>Keine bisher
                    </p>
                </div>
            </mat-card-footer>
        </mat-card>

    </div>
    <div fxFlex=100>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    7-Tages-Inzidenz nach Bundesland
                </mat-card-title>
                <mat-card-subtitle>
                    Datenbasis: RKI
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="this.testtable" >
                <app-plot [data]="this.testtable" xvalue="Bundesland" [outcomes]="['7-Tage-Inzidenz']"
                plottype="bar"></app-plot>
                

            </mat-card-content>
            <mat-card-footer>
                <div class="padding lightgreycolor">
                    <p class="mat-caption">
                        Legende:<br>Keine bisher
                    </p>
                </div>
            </mat-card-footer>
        </mat-card>

    </div>

    <div fxFlex=100>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Vorwarnzeit nach Bundesland
                </mat-card-title>
                <mat-card-subtitle>
                    Datenbasis: RKI, Berechnungen Zi
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="this.testtable">
                <app-plot [data]="this.testtable" xvalue="Bundesland" [outcomes]="['Vorwarnzeit aktuell']"
                plottype="hbar"></app-plot> 
            </mat-card-content>
            <mat-card-footer>
                <div class="padding lightgreycolor">
                    <p class="mat-caption">
                        Legende:<br>Keine bisher
                    </p>
                </div>
            </mat-card-footer>
        </mat-card>

    </div>

    <div fxFlex=100>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    R-Wert im Trend
                </mat-card-title>
                <mat-card-subtitle>
                    Datenbasis: RKI
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="this.testtimeseriesdata" >

              <app-plot [data]="this.filterArray(this.testtimeseriesdata,'name','Gesamt')"  
                xvalue="date" [outcomes]="['R']"
               plottype="tsline"></app-plot> 

            </mat-card-content>
            <mat-card-footer>
                <div class="padding lightgreycolor">
                    <p class="mat-caption">
                        Legende:<br>Keine bisher
                    </p>
                </div>
            </mat-card-footer>
        </mat-card>

    </div>

    <div fxFlex=100>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    7-Tages-Inzidenz nach Bundesland
                </mat-card-title>
                <mat-card-subtitle>
                    Datenbasis: RKI
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="this.blkarte && this.testtable">

                <div >
                    <app-map maptitle="Inzidenz nach Bundesland" 
                    feature="7-Tage-Inzidenz" id="Bundesland"
                    [cutofflist]="[0,20,50,150,200,300]" opacity=.8
                    [colorscale]="['green','yellow','orange','red','darkred','purple'                    ]"
                    [basemap]="this.blkarte" [data]="this.testtable"></app-map>
                </div> 

            </mat-card-content>
            <mat-card-footer>
                <div class="padding lightgreycolor">
                    <p class="mat-caption">
                        Legende:<br>Keine bisher
                    </p>
                </div>
            </mat-card-footer>
        </mat-card>

    </div>

    <div fxFlex fxFlex.lt-md=100>
        <div style="min-width: 300px;padding:10px;">
            <h2>Fancy Description</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti facilis unde nihil error aliquam
                cum, inventore quo omnis eum dolores doloribus est ad dolore provident voluptate consectetur quae non
                blanditiis. Qui commodi officiis molestias et pariatur maxime eveniet, sint earum quia voluptate natus
                nulla provident autem amet eum asperiores vitae. Dolores inventore reiciendis quas culpa explicabo
                aliquam labore ad recusandae non officiis, impedit tempora iste in optio asperiores amet atque nesciunt
                delectus error modi veritatis maxime odio? Aliquid vero nihil deleniti accusamus praesentium veritatis,
                ratione ipsa, ullam perferendis aut minus quaerat voluptatum tempore earum suscipit ab? Ipsam, modi
                voluptatem.</p>
        </div>
    </div>
</div>