.box {
    background-color: #2b2b2b;
}

.bigicon {
    font-size:5rem;
    padding:2rem;
    color:rgb(72, 74, 76);
} 

.bignum {
    font-size: 4rem;
    color:rgb(72, 74, 76);
}
.mat-padding {
    padding:1rem;
}