
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "~leaflet/dist/leaflet.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Dashboard-primary: mat-palette($mat-indigo);
$Dashboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Dashboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Dashboard-theme: mat-light-theme((
  color: (
    primary: $Dashboard-primary,
    accent: $Dashboard-accent,
    warn: $Dashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Dashboard-theme);

@import '~@angular/material/theming';

// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$primary: mat-palette($mat-blue);
$primaryultralight: mat-palette($mat-blue, 50);
$accent:  mat-palette($mat-green);
$apptheme:   mat-light-theme($primary, $accent);

// Include the default theme styles.
@include angular-material-theme($apptheme);

// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
// Use lokal for DSGVO compliance
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Italic'), local('Nunito-Italic'),
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'),
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/nunito-v13-latin/nunito-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Material Icons*/
/* Source: https://google.github.io/material-design-icons/*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('assets/fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('assets/fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('assets/fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Nunito',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);


// Override the typography in the core CSS.
@include mat-core($custom-typography);



html {
  background-color: mat-color($primary) ;
}

body {
  margin: 0;    
  font-family: Nunito, sans-serif;
}


 
  .container {
    max-width: 1000px;
    min-height: 1000px;
    margin: auto;
    padding: 0.1rem;
    display: flex;
    padding-bottom: 5rem;
  }
  
 

.mat-card {
  border-color: black;
  margin: 5px;  
   
  
}





.label {
  text-align: center;
  vertical-align: center;
  cursor:pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.mat-toolbar {
    background: #fafafa;
}

.mat-card-avatar {
 height: 140px; 
 width:140px;
}
.zilogo {
  width: 50px;
  margin: 5%;
}

.primarybg {
  background-color: mat-color($primary) ;
  color: white;
  }


.darkbg {
background-color: mat-color($primary, darker) ;
color: white;
}

.greybg {
  background-color: rgb(230,230,230) ;
  color: black;
  }

.lightbg {
  background-color: mat-color($primary, 100) ;
  color: mat-color($primary, 900) ;
  }

  .image404 {
    border-radius: 50%;
    background-image: linear-gradient(
      rgba(25,118,210,.15),
    rgba(25,118,210,0.15)),
    url(https://ziwebstorage.blob.core.windows.net/appradar/assets/beach-blur-car-colors-386000.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    width: 250px;
    height: 250px;
}  

.thespinner {
  width: 125px;
  height: 125px;
}


.primarycolor {
  color: mat-color($primary) !important;
}

.accentcolor {
  color: mat-color($accent) !important;
}

.greycolor {
  color: darkgrey !important;
}

.lightgreycolor {
  color: grey !important;
}

.padding {
padding:.5rem;
}

.fullpadding {
  padding:1rem;
  }
a,a:visited {
  color: mat-color($primary) ;
}

a:hover{
  text-decoration:underline;
}
.full-width {
  width: 100%;
}

.linkcursor {
  cursor:pointer ;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green {
  
  background-color: greenyellow;
  color: black;
}

.yellow {
  background-color: orange;
  color: black;

}

.red {
  background-color: crimson;
  color: black;
}
