<div class="container" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAllign="start start">
    <div fxFlex=100>
        
        <mat-card *ngIf="!this.currentuser" style="max-width: 500px;">
            <mat-card-content>
                <form autocomplete="on" class="login-form">
                    <h1>Bitte melden Sie sich an</h1>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>E-Mail</mat-label>
                        <input matInput type="email" placeholder="Email" name="email"
                            [(ngModel)]="this.loginusername" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Kennwort</mat-label>
                        <input matInput type="password" name="current-password" [(ngModel)]="this.loginuserpassword"
                            required>
                    </mat-form-field>
                    <div fxLayout="col" fxLayoutAlign="space-between">
                        <div fxLayout="col">
                            <button mat-raised-button color="primary" (click)="Login()">Login</button>
                            <ng-container *ngIf="this.loginpending">
                                <mat-spinner [diameter]="35"></mat-spinner>
                            </ng-container>
                        </div>
                        <div>
                            <button mat-raised-button routerLink="/" color="warn"
                                (click)="this.loginusername='';this.loginuserpassword='';Logout()">Abbrechen</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="loginerror==true">
                    <p style="color:red;text-align: center;">Falsche E-Mail-Adresse/Falsches Passwort</p>                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex=100>
        <h1>Herzlich Willkommen, ...</h1>
    </div>
    <div fxFlex=100>
        <h1>Admins only</h1>
    </div>
    <div style="min-height: 400px;"></div>
</div>