<div class="container" fxLayout="row wrap" fxLayoutGap="1rem">
    <div>
        <h1>Methodischer Hintergrund zur Impfmodellierung des Zi</h1>
        <p>
            Ziel der vorliegenden Modellrechnungen ist die Entwicklung eines quantitativen Gerüsts für den zukünftigen
            Verlauf der nationalen Impfkampagne. Grundlage sind die im Rahmen des Impfgipfels bereitgestellte
            Informationen zu möglichen Liefermengen und zur bundesweiten Kapazität der Impfzentren.</p>
        <p>
            Die Modellrechnungen zeigen, dass noch im ersten Quartal die verfügbaren Impfstoffmengen die bestehenden
            Kapazitäten der Impfzentren übersteigt. Bis zum 21. September kann mit einer wöchentlichen
            Impfstoffverfügbarkeit von 900tsd- bis 9,7 Mio. Dosen ausgegangen werden. Die Kapazität der Impfzentren
            beträgt derzeit 1,4. Mio. Impfungen pro KW und kann sicherlich auf 2,1 Mio. Impfungen gesteigert werden.
            Unter der Annahme der Steigerung der Kapazität in den Impfzentren sind noch im ersten Quartal über 6.000
            Praxen, im zweiten Quartal bis zu 40.000 Praxen und im dritten Quartal über 80.000 Praxen notwendig, um die
            Differenz zwischen verfügbarem Impfstoff und Kapazität der Impfzentren zu schließen.</p>
        <p>
            Im Ergebnis zeigt sich, dass für einen zügigen Impffortschritt schnellstmöglich die Voraussetzungen für
            Impfungen in den Arztpraxen geschaffen werden müssen. Diese müssen bis in das dritte Quartal als
            komplementär zu den Impfzentren gestaltet werden, ein Abbau der Kapazitäten der Impfzentren scheint
            frühestens im vierten Quartal realistisch. Da diese Modeliierungen dynamisch angepasst werden müssen, wird
            ein Simulationswerkzeug entwickelt, indem einfach verschiedene Szenarien betrachtet werden können. Dieses
            Werkzeug kann voraussichtlich bis zum 17. Februar bereitgestellt werden.
        </p>


    </div>
</div>