<div class="container" fxLayout="row wrap" fxLayoutGap="1rem">
    <div class="methodswrapper">
        <h1>Methodischer Hintergrund zum Simulationsrechner des Zi zur Covid-19-Impfkampagne</h1>
        <p><em>Dr. Lars Eric Kroll, Dr. Edgar Steiger, Thomas Czihal</em></p>
        <p>Erste Version: 23.2.2021, Letztes Update: 19.5.2021</p>
        <h2>Hintergrund</h2>
        <p>
            Ziel der vorliegenden Modellrechnungen ist die Entwicklung eines quantitativen Gerüsts für den weiteren
            Verlauf der nationalen Impfkampagne. Grundlage sind die im Rahmen des Impfgipfels bereitgestellten
            Informationen zu möglichen Liefermengen und zur bundesweiten Kapazität der Impfzentren.
            Der Verlauf der Impfkampagne wird anhand eines iterativen Algorithmus simuliert. Dabei müssen einerseits die
            Anforderungen der verschiedenen Impfstoffe und andererseits die Kapazitäten der jeweiligen Bundesländer bzw.
            des Bundes berücksichtigt werden. Das Online Tool ermöglich eine Anpassung der Parameter der Simulation um
            Auswirkungen von verschiedenen politischen Strategien, aber auch Änderungen von Kapazitäten einschätzen zu
            können.
        </p>
        <h2>Welche Fragen kann das Tool beantworten?</h2>
        <ul>
            <li><strong>Wieviel Impfstoff ist wann verfügbar?</strong><br>

            </li>
            <li><strong>Welche Impfkapazitäten sind notwendig, um den verfügbaren Impfstoff zeitnah zu
                    verimpfen?</strong></li>
            <li><strong>Wie sollte die Impfkapazität zwischen Impfzentren und Arztpraxen verteilt werden?</strong></li>
            <li><strong> Welcher bevölkerungsbezogene Impfschutz lässt sich mit unterschiedlichen Impfstoffmengen,
                    Impfkapazitäten und Impfstrategien erreichen?</strong></li>
            <li><strong> Wie wirken sich Zulassungen oder Ausfälle einzelner Impfstoffe aus?</strong></li>
            <li><strong> Wie wirken sich herstellerspezifische Altersempfehlungen der STIKO aus?</strong></li>
        </ul>
        <p>
            Mit dem Simulationsrechner zur Covid-19-Impfkampagne des Zi soll ein Beitrag geleistet werden, um diese
            Fragen auf der Bundes-und Landesebene vorrausschauend beantworten und planungsrelevante Schlussfolgerungen
            ziehen zu können. Verantwortliche aber auch die Betroffenen Menschen in der Bevölkerung können so sehen,
            wie die Impfkampagne in Deutschland bzw. in Ihrem Bundesland voranschreiten kann. Auswirkungen von
            politischen
            Entscheidungen zu Kapazitäten oder zur Ausgestaltung der Impfungen werden so direkt sichtbar.
        </p>
        <h2>Detaillierte Informationen zur Simulation</h2>
        <p>
            Um die Simulation durchführen zu können, wurden eine Reihe von Setzungen gemacht, die einen optimalen Ablauf
            der Impfkampagne unter
            den gegebenen Parametern ermöglichen sollen:
        </p>
        <ul>
            <li><strong>Zweitimpfungen haben Vorrang vor Erstimpfungen</strong><br>
                Durch diese Setzung soll ein zu langes Warten auf eine vollständige Immunisierung verhindert werden. Wir
                orientieren uns beim Intervall an der STIKO-Empfehlung. Der Parameter kann aber im Tool modifiziert
                werden.<br><br>
            </li>
            <li><strong>Impfstoffe mit nur einer Impfung für Immunität werden priorisiert</strong><br>Bisher gibt es
                einen in der Zulassung befindlichen Impfstoff (Johnson &amp; Johnson), der lediglich eine Dosis für
                einen
                vollständigen Impfschutz benötigt. Sobald dieser Impfstoff zur Verfügung steht, sollte er sofort
                prioritär verimpft werden, da mit jeder Impfung hier eine Immunisierung erzielt werden kann, während
                bei den anderen Impfstoffen 2 Impfungen (und damit doppelt so viel Impf-Kapazität) für eine
                Immunisierung nötig sind.<br><br></li>
            <li><strong>Andere Impfstoffe werden in Abhängigkeit von der Zeit zwischen den zwei Impfungen
                    priorisiert</strong><br>Um das Ziel einer frühest möglichen Immunisierung der
                Bevölkerung zu erreichen, wurden die Impfstoffe mit zwei Anwendungen invers zur Länge des
                STIKO-Impfintervalls priorisiert. Sollte die Politik zu einer anderen Zieldefinition kommen, etwa ein
                größtmöglicher Schutz nach der ersten Impfung, würde diese Priorisierung ggf. modifiziert werden müssen.
            </li>
        </ul>
        <p>
            Unser <strong>Algorithmus</strong> ist im nachfolgenden Schaubild 1 dargestellt. Die Simulation wird
            wochenweise
            durchgeführt. In jeder Woche werden die verfügbare Impfkapazität und die verfügbaren Impfdosen, im Einklang
            mit den o.g. Prämissen, für alle Hersteller geordnet nach Priorität zuerst auf die Zweitimpfungen und
            anschließend auf
            die Erstimpfungen verteilt. Im Einklang mit den aktuellen Empfehlungen des BMG werden dabei Impfdosen für
            spätere Zweitimpfungen zurückbehalten. Diese Rückstellungen können im Tool aber auch deaktiviert werden.
        </p>
        <p>
            <strong>Schaubild 1: Abflaufdiagramm des Algorithmus</strong><br>
            <span class="mat-caption">Quelle: Zentralinstitut für die kassenärztliche Versorgung (Zi), 2021</span><br>
            <img style="max-width: 450px;" src="https://www.zidatasciencelab.de/cov19vaccsim/assets/img/Algorithmus_Impfmodell.001.png" alt=""
                class="methods_img">
        </p>
        <p>
            Um die herstellerspezifischen Altersempfehlungen der STIKO berücksichtigen zu können wird für jeden
            Hersteller
            berücksichtigt, für welche von vier Altersgruppen der Bevölkerung (0-11,12-17,18-59,60+ Jahre) der Impfstoff
            zugelassen ist. Erstimpfungen werden dann nur aus dem ungeimpften Teil der Bevölkerung des jew. Alters
            durchgeführt.</p>

        <p>Bei der Umsetzung der herstellerspezifischen Altersempfehlungen gibt es die Herausforderung, dass für
            bisherige Impfungen nicht bekannt ist, welcher Anteil auf welche Altersgruppe entfallen ist. Darum
            wurde vereinfacht angenommen, dass bisherige Impfungen nur in den von der STIKO empfohlenen Altersgruppen
            durchgeführt wurden. Sind mehrere Altersgruppen empfohlen, wird zuerst bei älteren und dann bei jüngeren
            Altersgruppen geimpft.</p>
        <p>
            Der <strong>Datenfluss</strong> im Verlauf des Algorithmus ist im nachfolgenden Schaubild 2 dargestellt. Aus
            dem Diagramm
            wird ersichtlich, warum eine iterative Simulation des Problems nötig ist. So bestimmt etwa die Zahl der
            Erstimpfungen in einer Woche die Anzahl der in einer Folgewoche notwendigen Zweitimpfungen. Ebenfalls können
            durch mangelnde Impfkapazitäten oder Rückstellungen Impfdosen aus den Vorwochen für Folgewochen zur
            Verfügung stehen. Hinzu kommen neu verfügbare Impfdosen, die aufgrund der Herstellerzusagen an das BMG
            eintreffen.
        </p>
        <p><strong>Schaubild 2: Datenfluss</strong><br>
            <span class="mat-caption">Quelle: Zentralinstitut für die kassenärztliche Versorgung (Zi), 2021</span><br>
            <a href="https://www.zidatasciencelab.de/cov19vaccsim/assets/img/Algorithmus_Impfmodell.002.png"><img
                    src="https://www.zidatasciencelab.de/cov19vaccsim/assets/img/Algorithmus_Impfmodell.002.png" alt=""
                    class="methods_img"></a>
        </p>
        <h2>Fazit</h2>
        <p>
            Im Ergebnis der Simulation zeigt sich insgesamt, dass in Deutschland bereits jetzt Lieferungen für
            ausreichend viele Impfdosen der zugelassenen Impfstoffe zur vollständigen Immunisierung der Bevölkerung bis
            zum Herbst zugesagt sind.
            Mit den derzeit geltenden Impfempfehlungen der STIKO ist bei ausreichenden Kapazitäten bis Mitte Oktober
            theoretisch eine vollständige
            Immunisierung der erwachsenen Bevölkerung möglich. Hier wäre zu beachten, dass bereits Ende des zweiten
            Quartals Rückstellungen für Zweitimpfungen mit Biontech gebildet werden müssten, um längere Wartezeiten auf
            eine Zweitimpfung zu vermeiden. Dies folgt daraus, dass die Impfstoffe von AZ/J&J (Vektorimpfstoffe) zu
            diesem Zeitpunkt nicht mehr verabreicht würden nach STIKO-Empfehlung, da die Impflinge der Altersgruppe der
            Über-60-Jährigen bereits erschöpft wäre. Bei Verimpfung der Vektorimpfstoffe auch an Unter-60-Jährige
            könnten diese Rückstellungen vermieden werden und das Durchimpfungsziel bereits Mitte September erreicht
            werden.

        </p>
        <p class="mat-caption">Dieser Text wird fortlaufend aktualisiert.</p>


    </div>
</div>