<div class="container" fxLayout="row wrap" fxLayoutGap="1rem">
    <div class="methodswrapper">
        <h1>Methodischer Hintergrund zur Impfmodellierung des Zi</h1>
        <p>
            Ziel der vorliegenden Modellrechnungen ist die Entwicklung eines quantitativen Gerüsts für den zukünftigen
            Verlauf der nationalen Impfkampagne. Grundlage sind die im Rahmen des Impfgipfels bereitgestellte
            Informationen zu möglichen Liefermengen und zur bundesweiten Kapazität der Impfzentren.</p>
        <p>
            Methodische Erläuterungen werden hier in Kürze ergänzt.
        </p>

        <p>
            Im Ergebnis zeigt sich, dass für einen zügigen Impffortschritt schnellstmöglich die Voraussetzungen für
            Impfungen in den Arztpraxen geschaffen werden müssen. Diese müssen bis in das dritte Quartal als
            komplementär zu den Impfzentren gestaltet werden. 
        </p>
        <p>
            <img src="https://www.zidatasciencelab.de/cov19vaccsim/assets/img/Algorithmus_Impfmodell.001.png" alt="" class="methods_img">
        </p>
        <p>
            <img src="https://www.zidatasciencelab.de/cov19vaccsim/assets/img/Algorithmus_Impfmodell.002.png" alt="" class="methods_img">
        </p>


    </div>
</div>