.map-container {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  
  .map-frame {
    border: 1px solid lightgray;
    height: 100%;
  }
  
  #map {
    height: 100%;
    min-height: 450px;
    background: white;
  }